@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2c2c34;     
}

@layer utilities {
.text-balance {
  text-wrap: balance;
}
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 1s; /* Duración de la animación */
  animation-fill-mode: both; /* La animación aplica estilos antes y después de la ejecución */
}

.bounceInRight-delay-0 {
  animation-delay: 0s; /* Sin retraso */
}

.bounceInRight-delay-05 {
  animation-delay: 0.5s; /* Retraso de 0.5 segundos */
}