@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
.text-balance {
  text-wrap: balance;
}
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 1s; /* Duración de la animación */
  animation-fill-mode: both; /* La animación aplica estilos antes y después de la ejecución */
}

.bounceInRight-delay-0 {
  animation-delay: 0s; /* Sin retraso */
}

.bounceInRight-delay-05 {
  animation-delay: 0.5s; /* Retraso de 0.5 segundos */
}

.svg-icon {
  fill: currentColor;
}

.my-card{
  
  color: white;
  border-radius: 5px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 14%, rgba(17,9,121,0.9596288344439339) 100%);
}

.my-grad{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 14%, rgba(17,9,121,0.9596288344439339) 100%);
}

.my-col{
  background-color: #110979;
  background: #110979;
  color: #110979;
}

.carousel-image {
  display: flex;
  justify-content: center;
  max-width: 600px;  /* Por ejemplo, o cualquier tamaño que necesites */
  margin: 0 auto;    /* Centrar el contenedor si es necesario */
}

.carousel-image img {
  width: 100%;
  height: auto;  /* Mantiene la proporción */
}

.slick-dots li.slick-active button:before {
  color: #ffffff; /* Color del punto activo */
}

.carousel-slide {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente (si el contenedor tiene una altura fija) */
  height: 100%;            /* Asegura que el contenedor ocupe toda la altura disponible */
}

.carousel-slide img {
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  height: auto;
}
